.button {
  display: inline-block;

  color: var(--color-black);
  background-color: var(--color-white);

  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-align: center;
  line-height: 1.5;

  padding: 0.75rem 1rem;
  width: 8rem;
  transition: all 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
