.slide {
  position: relative;
  width: 100%;
  height: 100vh;

  .slide__wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;

    &.active {
      z-index: 0;
      opacity: 1;
    }

    .slide__wrapper-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;

      h1 {
        color: var(--color-white);
        text-align: center;
        font-size: 3.5rem;
        font-weight: bold;
        text-transform: capitalize;
      }

      p {
        color: var(--color-white);
        text-transform: capitalize;
        margin: 1.5rem 0;
        font-weight: 400;
        letter-spacing: 0.04em;
        text-align: center;
      }

      .call-to-action {
        display: flex;
        flex-direction: row;

        .button {
          display: inline-block;

          color: var(--color-black);
          background-color: var(--color-white);

          font-size: 0.75rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.08em;
          text-align: center;

          padding: 0.75rem 1rem;
          width: 12rem;
          transition: all 0.5s;
          margin: 0.5rem;

          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }

    &.even {
      .slide__wrapper-card {
        right: 0;
      }
    }
  }

  .left,
  .right {
    position: absolute;
    z-index: 900;
    top: 50%;

    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */
  }

  .left {
    padding-left: 2rem;
  }

  .right {
    right: 0;
    padding-right: 2rem;
  }

  .dots {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 900;
    bottom: 0;

    width: 100%;
    margin-bottom: 2rem;

    .dot {
      width: 0.75rem;
      height: 0.75rem;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 1rem;
      margin: 0 0.5rem;

      transition: all 0.5s;

      &.active {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .hidden-lg {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .slide {
    .slide__wrapper {
      .slide__wrapper-card {
        width: 100%;
      }
    }

    .left,
    .right {
      top: unset;
      bottom: 0;
      margin-bottom: 2rem;
    }

    .visible-sm {
      display: flex;
    }
  }
}

@media screen and (max-width: 550px) {
  .slide {
    .slide__wrapper {
      .slide__wrapper-card {
        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 0.75rem;
        }

        .call-to-action {
          flex-direction: column;
        }
      }
    }
  }
}
