.navbarsm {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 998;
  width: 100vw;
  min-width: 300px;
  height: 4rem;
  padding: 0 1.5rem;

  transition: all 0.5s;

  .navbarsm__left {
    display: flex;
    flex-direction: row;

    .navbarsm__left-hamburger,
    .navbarsm__left-search {
      color: var(--color-white);
      font-size: 1.25rem;
      padding: 0 1rem;
      transition: all 0.5s;
      cursor: pointer;
    }
  }

  .navbarsm__center {
    display: flex;

    .navbarsm__center-title {
      color: var(--color-white);
      font-size: 2.5rem;
      letter-spacing: 0.04em;
      transition: all 0.5s;
      cursor: pointer;
    }
  }

  .navbarsm__right {
    display: flex;
    flex-direction: row;

    .navbarsm__right-account,
    .navbarsm__right-basket {
      color: var(--color-white);
      font-size: 1.25rem;
      padding: 0 1rem;
      transition: all 0.5s;
    }
  }

  &:hover {
    background-color: var(--color-white);

    .navbarsm__left {
      .navbarsm__left-hamburger,
      .navbarsm__left-search {
        color: var(--color-black);
      }
    }

    .navbarsm__center {
      .navbarsm__center-title {
        color: var(--color-black);
      }
    }

    .navbarsm__right {
      .navbarsm__right-account,
      .navbarsm__right-basket {
        color: var(--color-black);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 950px) {
  .navbarsm {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .navbarsm {
    padding: 0 0.5rem;
  }
}
