@import "../flyout/flyout";

.navbarsm {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 998;

  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  background-color: var(--color-white);
  transition: all 0.5s;

  .navbarsm__left {
    display: flex;
    flex-direction: row;

    .navbarsm__left-hamburger,
    .navbarsm__left-search {
      color: var(--color-black);
      font-size: 1.25rem;
      padding: 0 1rem;
      transition: all 0.5s;
      cursor: pointer;
    }
  }

  .navbarsm__center {
    .navbarsm__center-title {
      color: var(--color-black);
      font-size: 2.5rem;
      letter-spacing: 0.04em;
      transition: all 0.5s;
      cursor: pointer;
    }
  }

  .navbarsm__right {
    display: flex;
    flex-direction: row;

    .navbarsm__right-account,
    .basket__icon {
      color: var(--color-black);
      font-size: 1.25rem;
      padding: 0 1rem;
      transition: all 0.5s;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 950px) {
  .navbarsm {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .navbarsm {
    .navbarsm__left {
      .navbarsm__left-search {
        display: none;
      }
    }
    .navbarsm__right {
      .navbarsm__right-account {
        display: none;
      }
    }
  }
}
