.slide {
  min-width: 300px;
  width: 100%;
  height: 100vh;

  .slide__wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;

    &.active {
      z-index: 0;
      opacity: 1;
    }

    .slide__wrapper-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;

      h1 {
        color: var(--color-white);
        text-align: center;
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 1.5;
        text-transform: capitalize;
      }

      p {
        color: var(--color-white);
        text-transform: capitalize;
        line-height: 1.5;
        margin: 1.5rem 0;
        font-weight: 400;
        letter-spacing: 0.04em;
        text-align: center;
      }

      .call-to-action {
        display: flex;
        flex-direction: row;

        .button {
          margin: 1rem;
        }
      }
    }

    &.two {
      .slide__wrapper-card {
        right: 0;

        .call-to-action {
          .button {
            width: 12rem;
          }
        }
      }
    }

    &.three {
      .call-to-action {
        .button {
          width: 12rem;
        }
      }
    }
  }

  .left,
  .right {
    position: absolute;
    z-index: 900;
    top: 50%;

    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */
  }

  .left {
    padding-left: 2rem;
  }

  .right {
    right: 0;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 950px) {
  .slide {
    .slide__wrapper {
      .slide__wrapper-card {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .slide {
    .slide__wrapper {
      .slide__wrapper-card {
        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .slide {
    .slide__wrapper {
      .slide__wrapper-card {
        .call-to-action {
          flex-direction: column;
        }
      }
    }
  }
}
