.basketflyout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1000;
  padding: 2rem 0;
  width: 100vw;
  height: 100vh;

  .basketflyout-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 40rem;
    height: 30rem;

    background-color: var(--color-white);
    padding: 1rem;
  }

  .basketflyout__header {
    display: flex;
    justify-content: center;

    h2 {
      font-size: 2.5rem;
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      margin: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
