.checkoutsteps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .checkoutsteps-logo {
    font-size: 3.5rem;
  }

  .checkoutsteps-steps {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    font-size: 0.75rem;

    svg {
      margin: 0 0.25rem;
    }

    .checkoutsteps-step:last-child {
      font-weight: bold;
    }
  }
}
