.payment {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;

  .payment__form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding: 1rem 2rem;
    row-gap: 3rem;

    .payment__detailreview {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30rem;
      row-gap: 1rem;

      .payment__detailreview-contact {
        margin-top: 2rem;
      }

      .payment__detailreview-contact,
      .payment__detailreview-shipping {
        display: flex;
        font-size: 0.85rem;
        width: 100%;

        .payment__detailreview-contact-tag,
        .payment__detailreview-shipping-tag {
          text-transform: capitalize;
          color: rgba(0, 0, 0, 0.6);
          width: 25%;
        }

        .payment__detailreview-contact-details,
        .payment__detailreview-shipping-address {
          justify-content: flex-start;
          width: 50%;
        }

        a {
          display: flex;
          justify-content: flex-end;
          width: 25%;
          color: var(--color-blue);
        }
      }
    }

    .payment__options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30rem;
      row-gap: 1.5rem;

      .payment__options-tag {
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.6);
      }

      .payment__options-paypal {
        width: 100%;
      }
    }
  }

  .payment__basket {
    width: 50%;
    background-color: var(--color-offwhite);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .payment__basket-small {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .payment {
    .payment__form-wrapper {
      .payment__detailreview {
        width: 100%;
      }

      .payment__options {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .payment {
    .payment__form-wrapper {
      width: 100%;
      padding: 1rem 0;

      .payment__detailreview {
        .payment__basket-small {
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: var(--color-offwhite);
        }

        .payment__detailreview-contact,
        .payment__detailreview-shipping {
          padding: 1rem 2rem;
        }
      }

      .payment__options {
        padding: 1rem 2rem;

        .payment__options-paypal {
          text-align: center;
        }
      }
    }
  }

  .payment__basket {
    display: none;
  }
}
