.productdetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  column-gap: 3rem;
  padding: 0 5rem;

  .productdetails__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2rem;
    width: 60%;

    .productdetails__images-alt-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 0.5rem;

      .productdetails__images-alt {
        height: 5rem;
        width: 5rem;
        cursor: pointer;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.1);
        }

        &.selected {
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.productdetails__details {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 40%;

  .productdetails__details-name {
    text-transform: capitalize;
    letter-spacing: 0.04em;
    font-size: 2.5rem;
  }

  .product__details-color {
    text-transform: capitalize;
  }

  .productdetails__details-variation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    .productdetails__details-variation-img {
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
      cursor: pointer;
      width: 3rem;
      height: 3rem;

      &.selected {
        border: 1px solid rgba(0, 0, 0, 0.4);
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
  }

  .productdetails__sizes-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    row-gap: 1rem;
    column-gap: 0.5rem;

    .productdetails__sizes-size {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--color-offwhite);
      width: 3rem;
      height: 3rem;
      text-align: center;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        background-color: var(--color-offwhite);
      }

      &.disabled {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: default;
      }

      &.selected {
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  .productdetails-btn {
    border: 1px solid rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: rgba($color: #f2f2f2, $alpha: 1);
    }
  }

  .productdetails-shipping-info {
    text-transform: capitalize;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 950px) {
  .productdetails {
    flex-direction: column;
    row-gap: 3rem;
    padding: 6rem 0;

    .productdetails__images {
      width: 100%;
      padding: 0 2rem;
      flex-direction: column-reverse;
      align-items: center;

      .productdetails__images-alt-wrapper {
        flex-direction: row;
        column-gap: 0.5rem;
        flex-wrap: wrap;
      }
    }

    .productdetails__details {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .productdetails {
    .productdetails__images {
      .productdetails__images-alt-wrapper {
        .productdetails__images-alt {
          height: 4rem;
          width: 4rem;
        }
      }
    }
    .productdetails-btn {
      align-self: center;
    }

    .productdetails-shipping-info {
      text-align: center;
    }
  }
}
