@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --font-header: "Domine", "serif";
  --font-body: "Roboto", "sans-serif";
  --font-logo: "Permanent Marker", "cursive";

  --color-white: #ffffff;
  --color-offwhite: #f8f8f8;
  --color-lightgrey: #9b9b9b;
  --color-black: #000000;
  --color-fadedblack: rgba(0, 0, 0, 0.4);
  --color-green: #243a3e;
  --color-blue: #2773aa;
}
