@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --font-header: "Playfair Display SC", "serif";
  --font-body: "Roboto", "sans-serif";
  --font-logo: "Permanent Marker", "cursive";

  --color-white: #ffffff;
  --color-offwhite: #f2f2f2;
  --color-lightgrey: #9b9b9b;
  --color-black: #000000;
  --color-fadedblack: rgba(0, 0, 0, 0.4);
}
