@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --header-font: "Playfair Display SC", "serif";
  --body-font: "Roboto", "sans-serif";
  --logo-font: "Permanent Marker", "cursive";

  --white: #ffffff;
  --off-white: #f2f2f2;
  --light-grey: #4a4a4a;
  --black: #000000;
}
